* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
.main-btn {
  border-radius: 8px;
  background: #e55473;
  color: white;
  padding: 20px 40px;
  border: none;
}
/* Main Menu */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e55473;
  background-color: whitesmoke;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar li {
  list-style: none;
  margin-right: 20px;
  font-size: 20px;
}
.navbar li a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: #e55473;
}
.navbar a:active {
  color: #e55473;
}
.login {
  padding: 5px 15px;
  background-color: #e55473;
  border: none;
  border-radius: 5px;
  color: white;
}
/* Featured Products */
.featured-header {
  text-align: center;
}
.f-header {
  margin-top: 100px;
  margin-bottom: 25px;
}
.f-paragraph {
  font-size: 18px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
  margin-bottom: 50px;
}
.featured-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  gap: 25px;
}
.box1 {
  width: 400px;
  height: 470px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.box2 {
  width: 400px;
  height: 470px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.box3 {
  width: 400px;
  height: 470px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.ff-image {
  width: 250px;
  height: 300px;
  position: relative;
}
.ff-caption {
  width: 400px;
  text-align: center;
  padding-top: 15px;
  text-decoration: underline;
  color: #272727;
  font-weight: 700;
}
/* header part */
.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
}

.banner-heading {
  font-size: 50px;
  font-weight: 800;
}
.header-para {
  width: 600px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  color: rgba(39, 39, 39, 0.6);
}
.banner-img {
  width: 400px;
  position: bottom-right;
}
/* Featured products */
/* hot deals Part */
.hotdeal-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.05);
  padding-top: 150px;
  padding-bottom: 150px;
  padding: 100px 200px;
}
.hotdeal-heading {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  width: 450px;
  text-align: center;
}
.hotdeal-para {
  width: 450px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
}

.off {
  color: #e55473;
}

.hotdeal-img {
  width: 300px;
}
.hotdeal-left {
  text-align: center;
}
/* Instragram part start */
.instragram-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.instra {
  text-align: center;
}
.instra-heading {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 25px;
}
.paragraph {
  width: 450px;
  font-size: 18px;
  font-weight: 400;
  margin: auto;
  color: rgba(39, 39, 39, 0.6);
}
.instragram-images {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  margin: 50px 100px 50px 100px;
  overflow: hidden;
}
/* Subscribe part */
.subscribe {
  background-image: url('../images/subscribe.png');
  height: 500px;
  background-repeat: no-repeat;
  margin-left: 100px;
  margin-right: 100px;
}
.subscribe-heading {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
  padding-top: 180px;
  text-align: center;
}
.subscribe-p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
}
.subscribeform {
  text-align: center;
}
.emailfield {
  width: 500px;
  height: 50px;
  padding-left: 10px;
  border-radius: 8px;
  border: none;
  margin-right: 20px;
}
.subscribe-btn {
  border-radius: 8px;
  background: #e55473;
  color: white;
  padding: 20px 40px;
  border: none;
}
/* footer start */
.footer {
  text-align: center;
  margin-top: 100px;
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  padding-top: 150px;
  padding-bottom: 120px;
}
.logo {
  font-size: 30px;
  font-weight: 800;
}
.footer-p {
  margin-top: 18px;
  margin-bottom: 30px;
}
